aiohttp==3.8.3
base58==2.1.1
mysql
databases[asyncmy] @ git+https://github.com/MAKMED1337/databases.git
ed25519==1.5
pydantic==1.10.7
pytest==7.3.1
sd_notify==0.1.0
SQLAlchemy==2.0.10
Telethon==1.28.5
