[Unit]
Description=Mod message watcher
BindsTo=mysql.service accounts.service reporter.service bot.service
After=mysql.service accounts.service reporter.service bot.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple

EnvironmentFile=/etc/systemd/system/database.env

WorkingDirectory=/watcher
ExecStart=/usr/local/bin/python3.11 -u -m mod_message_watcher.main

Restart=always
RestartSec=300s